body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        sans-serif,
        Helvetica,
        Arial,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol;
    color: #24292e;
    font-size: 25px;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 20px;
}

/* Navbar and Footer */
nav ul {
    background-color: #24292e;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    list-style-type: none;
}

nav li {
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    color: #ffffff;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

a:active {
    transform: translateY(1px);
}

footer {
    position: relative;
    height: 40px;
    margin-top: -40px;
    line-height: 40px;
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background-color: #24292e;
    text-align: center;
}

/* The Rest */
#container {
    min-height: 100%
}

#main {
    overflow: auto;
    padding-block: 100px;
}

.centered {
    text-align: center;
}

.url,
.url:visited {
    color: #0366d6;
    text-decoration: none;
}

.url:hover {
    text-decoration: underline;
}

.biggertext {
    font-size: 115%;
}

hr {
    width: 85%;
    margin: 0 7.5% 0 7.5%;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px #24292e solid;
    align-self: center;
}

/*
Color Scheme
White:  #ffffff
Black:  #24292e
Orange: #f2511b
Blue:   #0366d6
*/
