body {
    font-family: -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    sans-serif,
    Helvetica,
    Arial,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol;
    ;
    color: #24292e;
    font-size: 25px;
    /* background-image: url(../images/background.png);              ######################################## PERHAPS? ######################################## */
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 20px;
}


/* Navbar */

nav ul {
    color: white;
    background-color: #24292e;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    list-style-type: none;
}

nav li {
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    float: left;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    color: white;
    font-size: 20px;
}

a:active {
    transform: translateY(1px);
}


/* Footer */

footer {
    position: relative;
    height: 40px;
    margin-top: -40px;
    line-height:40px;
    width:100%;
    clear: both;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: #24292e;
    text-align:center;
}


/* The Rest */

#container {
    min-height: 100%
}

#main {
    overflow: auto;
    padding-block: 100px;
}

.centered {
    text-align: center;
}

.url,
.url:visited {
    color: #0366d6;
    text-decoration: none;
}

.url:hover {
    text-decoration: underline;
}

.biggertext {
    font-size: 115%;
}

hr {
    width: 85%;
    margin-bottom: 10px
}

/*

Resume orange: #f2511b

*/