@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

html {
    color: #1c1c1c;
    font-size: 22px;
    font-family: "Jost", Arial, sans-serif;
    letter-spacing: .03em;
    scroll-behavior: smooth;
    min-height: 100%;
}

* {
    box-sizing: border-box
}

body {
    background: #ededed;
    background-image: url("images/background.png");
    background-image: url("https://background-tiles.com/overview/blue/patterns/small/1063.png");
}

/*
nav {
    top: 5px;
    right: 0;
    left: 0;
    padding-top: 10px;
    padding-bottom: 25px;
    z-index: 5;
    color: #f5f5f5;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    width: calc(75vw - 100px);
    max-width: 1170px;
    position: fixed;
}

#navback {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 11%;
    position: fixed;
    z-index: 3;
    background-color: #1c1c1c;
}

margin-left: auto;
margin-right: auto;
width: calc(75vw - 100px);
max-width: 1170px;
*/

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 11%;
    padding: 15px;
    color: #f5f5f5;
    background-color: #1c1c1c;
    line-height: 100%;
    z-index: 1;
    /* border-bottom: 3px solid #ededed; */
}

nav a {
    color: inherit;
}

nav table {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.nav-left {
    width: 50%;
    text-align: left;
    height: 100%;
}

.nav-right {
    width: 50%;
    text-align: right;
    height: 100%;
}

nav tr {
    height: auto;
}

nav td {
    height: 100%;
}

#main {
    margin: 2em auto;
    margin-top: 8%;
    line-height: 1.4;
    text-align: justify;
    background: #f5f5f5;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 80px;
    width: calc(100vw - 50px);
    max-width: 1170px;
}

#main-404 {
    margin: 2em auto;
    margin-top: 8%;
    line-height: 1.4;
    text-align: justify;
    background: #f5f5f5;
    padding: 100px;
    padding-top: 30px;
    padding-bottom: 80px;
    width: calc(100vw - 50px);
    max-width: 1170px;
    height: 75vh;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
    padding-top: 1.5em;
}

.list-after {
    margin-top: 0.3em;
}

a {
    color: #00a2e7;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.centered {
    text-align: center;
}

hr {
    border-top: 2px solid #1c1c1c;
}

#about-me {
    padding-top: 20px;
}

#links {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    table-layout: fixed;
    width: 100%;
}

#links td {
    width: 50%;
}

.aftertitle {
    margin-top: -0.75em;
    margin-bottom: 2em;
}

.resume-table {
    width: 100%;
    font-size: 20px;
    border-collapse: collapse;
    text-align: left;
}

.resume-table tr {
    border-bottom: solid transparent 2em;
}

.resume-left {
    width: 65%;
}

.resume-right {
    width: 35%;
    vertical-align: top;
    text-align: right;
}

#gh-link {
    height: 64px;
}

#linkedin-link {
    height: 64px;
}

.spacer {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    background: #1c1c1c;
    width: calc(100vw - 50px);
    max-width: 1170px;
    position: relative;
    left: -100px;
}

.spacer img {
    height: 50px;
}

/*
background   #ededed
body         #f5f5f5
text         #1c1c1c
link/favicon #0366d6
old link     #00a2e7
linkedin     #0a66c2
visited      #d24637
emphasis     #48bf84
jeff gold    #e2b000
jeff red     #fb5c43
jeff green   #75b391
jeff purple  #9e8da7
*/