body {
    background-color: #1c1c1c;
    font-size: 14px;
    font-family: "Fira Code", cursor, monospace;
    color: #f5f5f5;
    margin: 0;
    padding: 15px 20px;
    min-height: 99%;
    width: 100%;
    min-width: 550px;
    /* background: #211D1B; */
    overflow-x: hidden;
}

::selection,
::-moz-selection {
    color: #1c1c1c;
    background-color: #4788cf;
}

textarea {
    left: -1000px;
    position: absolute;
    height: 100%;
}

b {
    font-weight: bold;
    text-decoration: underline;
}

/* Cursor Start */
.cursor {
    font-size: 12px;
    color: #f5f5f5;
    background-color: #f5f5f5;
    position: relative;
    opacity: 1;
    /* height: 1.5em; */
    width: 10px;
    max-width: 10px;
    transform: translateY(4px);
    overflow: hidden;
    text-indent: -5px;
    display: inline-block;
    text-decoration: blink;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#command {
    cursor: text;
    height: 100%;
    color: #f5f5f5;
}

#liner {
    /* line-height: 1.3em; */
    /* margin-top: -2px; */
    animation: show 0.5s ease forwards;
    animation-delay: 1.2s;
    opacity: 0;
    height: 100%;
}

#liner::before {
    content: ">";
}

/* #liner.password::before {
    content: "Password:";
} */

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Cursor End */
p {
    display: block;
    /* line-height: 1.3em; */
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    /* letter-spacing: 0.05em; */
    animation: typing 0.5s steps(30, end);
}

.no-animation {
    animation: typing 0 steps(30, end);
}

/* .margin {
    margin-left: 20px;
} */

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.index {
    color: #f5f5f5;
}

.color2 {
    color: #f5f5f5;
}

.command {
    color: #4788cf;
    text-shadow: 0 0 5px #73abad;
}

.error {
    color: #fb5c43;
}

a {
    color: #4788cf;
    text-decoration: inherit;
}

a .command:hover,
a:hover {
    color: #1c1c1c;
    text-shadow: none;
    background-color: #4788cf;
    /* background-color: #f5f5f5; */
}

a:focus {
    outline: 0;
}

#typer {
    height: 100%;
}